@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #011221 inset;
  -webkit-text-fill-color: #607b96;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #607b96;
  caret-color: #607b96;
}
::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 0px;
  transition: background-color 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

@theme {
  --color-bg: #010c15;
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #719fe9;
  --color-be: #66ebe6;
  --color-mb: #a7e399;
  --color-tool: #f6ff99;
  --color-input-b: #1e2d3d;
  --color-declare: #c98bdf;
  --color-variable: #5565e8;
  --color-string: #fea55f;
  --color-gradient: #43d9ad;
  --color-scrollbar-hover: #000000;
  --color-blur-first: #43d9ad;
  --color-blur-second: #4d5bce;
  --color-github: #e99287;
}

:root[data-theme="default"] {
  --color-bg: #010c15;
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #719fe9;
  --color-be: #66ebe6;
  --color-mb: #a7e399;
  --color-tool: #f6ff99;
  --color-input-b: #1e2d3d;
  --color-declare: #c98bdf;
  --color-variable: #5565e8;
  --color-string: #fea55f;
  --color-gradient: #43d9ad;
  --color-scrollbar-hover: #9cb6d0;
  --color-blur-first: #43d9ad;
  --color-blur-second: #4d5bce;
  --color-github: #e99287;
}
:root[data-theme="red"] {
  --color-bg: rgb(24, 1, 1);
  --color-fg: #2b0303;
  --color-border: #bb78c8;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #9bb4c0;
  --color-be: #e1d0b3;
  --color-mb: #a18d6d;
  --color-tool: #3b704b;
  --color-input-b: #1e2d3d;
  --color-declare: #c678dc;
  --color-variable: #d19966;
  --color-string: #98c379;
  --color-gradient: #bf3d3d;
  --color-scrollbar-hover: #d9b6e0;
  --color-blur-first: #bf3d3d;
  --color-blur-second: #ff8a5b;
  --color-github: #a1e173;
}
