@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #011221 inset;
  -webkit-text-fill-color: #607b96;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #607b96;
  caret-color: #607b96;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 0.5px solid var(--color-border);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 0px;
  transition: background-color 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}

@theme {
  --color-bg: #010c15;
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-frontend: #719fe9;
  --color-backend: #66ebe6;
  --color-mobile: #a7e399;
  --color-others: #f6ff99;
  --color-input-b: #1e2d3d;

  --color-keyword: #bb9af7;
  --color-variable: #c0caf5;
  --color-string: #9ece6a;
  --color-function: #7aa2f7;
  --color-number: #ff9e64;
  --color-type: #2ac3de;
  --color-comment: #565f89;

  --color-gradient: #43d9ad;
  --color-scrollbar-hover: #000000;
  --color-blur-first: #43d9ad;
  --color-blur-second: #4d5bce;
  --color-github: #e99287;
  --color-game-border: #4a5568;
  --game-bg-rgb: 23 85 83;
  --blur-first-rgb: 67 217 173;
}

:root[data-theme="default"] {
  --color-bg: #010c15;
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-frontend: #719fe9;
  --color-backend: #66ebe6;
  --color-mobile: #a7e399;
  --color-others: #f6ff99;
  --color-input-b: #1e2d3d;

  --color-keyword: #bb9af7;
  --color-variable: #c0caf5;
  --color-string: #9ece6a;
  --color-function: #7aa2f7;
  --color-number: #ff9e64;
  --color-type: #2ac3de;
  --color-comment: #565f89;

  --color-gradient: #43d9ad;
  --color-scrollbar-hover: #9cb6d0;
  --color-blur-first: #43d9ad;
  --color-blur-second: #4d5bce;
  --color-github: #e99287;
  --color-game-border: #4a5568;
  --game-bg-rgb: 23 85 83;
  --blur-first-rgb: 67 217 173;
}
:root[data-theme="red"] {
  --color-bg: rgb(24, 1, 1);
  --color-fg: #2b0303;
  --color-border: #c29ab5;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-frontend: #9bb4c0;
  --color-backend: #e1d0b3;
  --color-mobile: #a18d6d;
  --color-others: #3b704b;
  --color-input-b: #1e2d3d;

  --color-keyword: #ff6b81;
  --color-variable: #f5d0c5;
  --color-string: #98c379;
  --color-function: #ffb86c;
  --color-number: #ffd166;
  --color-type: #6ee7b7;
  --color-comment: #8b6f76;

  --color-gradient: #bf3d3d;
  --color-scrollbar-hover: #dec0d5;
  --color-blur-first: #bf3d3d;
  --color-blur-second: #ffb05b;
  --color-github: #a1e173;

  --color-game-border: #4a3b35;
  --game-bg-rgb: 106 62 44;
  --blur-first-rgb: 191 61 61;
}
