@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #011221 inset;
  -webkit-text-fill-color: #607b96;
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #607b96;
  caret-color: #607b96;
}

@theme {
  --color-bg: #010c15;
  --color-primary: red; /* 나중에 사용 */
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #719fe9;
  --color-be: #66ebe6;
  --color-mb: #a7e399;
  --color-tool: #f6ff99;
  --color-input-b: #1e2d3d;
  --color-declare: #c98bdf;
  --color-variable: #5565e8;
  --color-string: #fea55f;
}

:root[data-theme="default"] {
  --color-bg: #010c15;
  --color-primary: red; /* 나중에 사용 */
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #719fe9;
  --color-be: #66ebe6;
  --color-mb: #a7e399;
  --color-tool: #f6ff99;
  --color-input-b: #1e2d3d;
  --color-declare: #c98bdf;
  --color-variable: #5565e8;
  --color-string: #fea55f;
}

:root[data-theme="red"] {
  --color-bg: red;
  --color-primary: red; /* 나중에 사용 */
  --color-fg: #011627;
  --color-border: #607b96;
  --color-highlight: white;
  --color-hover: #ffffff1a;
  --color-focus: #ffffff0b;
  --color-submit-bg: #1c2b3a;
  --color-submit-bg-active: #011221;
  --color-underline: #fea55f;
  --color-fe: #719fe9;
  --color-be: #66ebe6;
  --color-mb: #a7e399;
  --color-tool: #f6ff99;
  --color-input-b: #1e2d3d;
  --color-declare: #c98bdf;
  --color-variable: #5565e8;
  --color-string: #fea55f;
}
