@import "tailwindcss";

body {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #011221 inset;
    -webkit-text-fill-color: #607b96;
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: #607b96;
    caret-color: #607b96;
  }
}

/* :root[data-theme="default"] {
  --bg: #011627;
  --fg: #607b96;
  --primary: #5ddcff;
  --border: rgba(255, 255, 255, 0.12);
} */
